  <mat-toolbar color="primary">
   <my-button  class="example-icon" aria-label="Example icon-my-button with menu icon">
    <mat-icon>menu</mat-icon>
  </my-button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <my-button  class="example-icon favorite-icon" aria-label="Example icon-my-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </my-button>
  <my-button  class="example-icon" aria-label="Example icon-my-button with share icon">
   <mat-icon>share</mat-icon>
 </my-button>
</mat-toolbar>